node_modules
.next
out
build
dist

# env
.env
.env.local
.env.production.local
.env.development.local
.env*.local
!.env.example

# prisma
prisma/*.db
prisma/*.db-journal

# hardhat
artifacts
cache
typechain-types
.verify-backup
.verify-stash

# misc
.DS_Store
*.log
*.tsbuildinfo
.vscode
.idea
.vercel
.env*
